


<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">Movie Booking</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">

        <li ><%= link_to "Home", root_path %></li>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Booking", booking_path %></li>
            </ul>
        </div>
    </div>
</div>